.flex
    display: flex
.block
    display: inline
.inline

#colorMenu
   position: absolute
   left: 40px
  


#container
    color: white
    position: absolute
    top: 0
    left: 0
    button
        background: #303336
        margin-left: 5px
        margin-top: 10px
        width: 32px
        height: 32px
        border-radius: 14%
        color: #edffff
        fill: #edffff
        transition: 0.3s
        border: 1px solid #444
        justify-content: center
        align-items: center
        margin-right: 3px
    button:hover
        background: #1890ff
        border: 1.5px solid #edffff
    button:active
        color: red
        border: 3px
